rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /badmintonRooms/{roomId} {
      allow read, write: if true;

      match /backups/{backupId} {
        allow read, write: if true;
      }

      match /matchHistory/{matchId} {
        allow read, write: if true;
      }

      match /liveScore/{scoreId} {
        allow read, write: if true;
      }
    }
  }
}
